@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Roboto';
}

h1 {
    font-size: 48px;
    font-family: 'Roboto', 'extra-bold';
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header ul{
    display: flex;
    margin-left: auto;
}

.header ul li {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 15px;
}

.presentation {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.presentation div {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding:0 30px;
}

.presentation button {
    max-width:100px;
    height: 40px;
    background: #3882f6;
    color: #F9FAF8;
    border: #3882f6;
    border-radius: 3px;
}



.presentation img {
    width: 500px;
    height: auto;
    padding: 30px;
}

.content {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.sing-up {
    display: flex;
    flex-direction: row;
}
